<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="FarmWise Labs, Inc.">
    <title>Hawkeye</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
    <button class="mt-4 w-100 btn btn-lg btn-outline-primary" id="btnLid">Lid</button>
    <button class="mt-4 w-100 btn btn-lg btn-outline-primary" id="btnBox">Box</button>
    <button class="mt-4 w-100 btn btn-lg btn-outline-primary" id="btnFog">Fog</button>
</main>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnLid").on('mousedown', () => {
            $.ajax({method: "POST", url: "api/gpio/lid/on"});
        }).on('mouseup', () => {
            $.ajax({method: "POST", url: "api/gpio/lid/off"});
        });
        $("#btnBox").on('mousedown', () => {
            $.ajax({method: "POST", url: "api/gpio/box/on"});
        }).on('mouseup', () => {
            $.ajax({method: "POST", url: "api/gpio/box/off"});
        });
        $("#btnFog").on('mousedown', () => {
            $.ajax({method: "POST", url: "api/gpio/fog/on"});
        }).on('mouseup', () => {
            $.ajax({method: "POST", url: "api/gpio/fog/off"});
        });
    });
</script>
</body>
</html>