<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Michael Javault">
    <title>Halloween Dragon Box</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="chkFogEnabled">
        <label class="form-check-label" for="chkFogEnabled">Fog enabled</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="chkMusicEnabled">
        <label class="form-check-label" for="chkMusicEnabled">Background music enabled</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="chkMotionEnabled">
        <label class="form-check-label" for="chkMotionEnabled">Motion detection enabled</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="chkIdleEnabled">
        <label class="form-check-label" for="chkIdleEnabled">Idle animations enabled</label>
    </div>

    <button class="mt-4 w-100 btn btn-lg btn-outline-primary" id="btnLid">Lid</button>
    <button class="mt-4 w-100 btn btn-lg btn-outline-primary" id="btnBox">Box</button>
    <button class="mt-4 w-100 btn btn-lg btn-outline-primary" id="btnFog">Fog</button>
    <div class="input-group mt-4">
        <select class="form-select" id="slAnimation" aria-label="Animation">
            <option value="" selected>Random</option>
        </select>
        <button class="btn btn-outline-primary" type="button" id="btnAnimate">Animate</button>
    </div>
</main>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    function gpio(device, action) {
        $.ajax({method: "POST", url: `api/gpio/${device}/${action}`});
    }

    function refreshOptions() {
        $.ajax({
            method: "GET", url: `api/options`,
        }).done(function (data) {
            $("#chkFogEnabled").prop("checked", data.fog);
            $("#chkMusicEnabled").prop("checked", data.music);
            $("#chkMotionEnabled").prop("checked", data.motion);
            $("#chkIdleEnabled").prop("checked", data.idle);
        });
    }

    function refreshAnimations() {
        $.ajax({
            method: "GET", url: `api/animations`,
        }).done(function (data) {
            if (data && data.animations) {
                const $animations = $("#slAnimation");
                $.each(data.animations, function (e) {
                    $animations.append(`<option value="${e}">${e}</option>`);
                });
            }
        });
    }

    $(document).ready(function () {
        refreshOptions();
        refreshAnimations();
        $("#btnLid").on('mousedown', () => gpio("lid", "on")).on('mouseup', () => gpio("lid", "off"));
        $("#btnBox").on('mousedown', () => gpio("box", "on")).on('mouseup', () => gpio("box", "off"));
        $("#btnFog").on('mousedown', () => gpio("fog", "on")).on('mouseup', () => gpio("fog", "off"));
        $("#btnAnimate").on('click', () => $.ajax({
            method: "POST",
            url: 'api/animation/trigger',
            data: {
                name: $("#slAnimation").val() || null
            }
        }));
        $('#chkFogEnabled, #chkMusicEnabled, #chkMotionEnabled, #chkIdleEnabled').change(function () {
            $.ajax({
                method: "POST", url: `api/options`, data: {
                    fog: $("#chkFogEnabled").is(":checked"),
                    music: $("#chkMusicEnabled").is(":checked"),
                    motion: $("#chkMotionEnabled").is(":checked"),
                    idle: $("#chkIdleEnabled").is(":checked")
                }
            });
        });
        $(document).keydown((e) => {
            if (e.key === 'b') {
                gpio("box", "on");
            } else if (e.key === 'l') {
                gpio("lid", "on");
            } else if (e.key === 'f') {
                gpio("fog", "on");
            }
        }).keyup((e) => {
            if (e.key === 'b') {
                gpio("box", "off");
            } else if (e.key === 'l') {
                gpio("lid", "off");
            } else if (e.key === 'f') {
                gpio("fog", "off");
            }
        });
    });
</script>
</body>
</html>